#uv-index {
  display: inline;
}
#uv-index-span {
  padding: 4px;
  color: white;
  border-radius: 4px;
}

#icon-image {
  display: inline;
}

p.h3 {
  display: inline;
}

p {
  line-height: 2;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

.container {
  border: none;
}
